USE [StudentManagementDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateUserRole]    Script Date: 5/13/2026 3:46:43 PM ******/
DROP PROCEDURE [dbo].[SP_UpdateUserRole]
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateUserPassword]    Script Date: 5/13/2026 3:46:43 PM ******/
DROP PROCEDURE [dbo].[SP_UpdateUserPassword]
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateUserName]    Script Date: 5/13/2026 3:46:43 PM ******/
DROP PROCEDURE [dbo].[SP_UpdateUserName]
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateRefreshToken]    Script Date: 5/13/2026 3:46:43 PM ******/
DROP PROCEDURE [dbo].[SP_UpdateRefreshToken]
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdatePerson]    Script Date: 5/13/2026 3:46:43 PM ******/
DROP PROCEDURE [dbo].[SP_UpdatePerson]
GO
/****** Object:  StoredProcedure [dbo].[SP_IsUserExistByPersonID]    Script Date: 5/13/2026 3:46:43 PM ******/
DROP PROCEDURE [dbo].[SP_IsUserExistByPersonID]
GO
/****** Object:  StoredProcedure [dbo].[SP_IsPersonExist]    Script Date: 5/13/2026 3:46:43 PM ******/
DROP PROCEDURE [dbo].[SP_IsPersonExist]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetUserByUserName]    Script Date: 5/13/2026 3:46:43 PM ******/
DROP PROCEDURE [dbo].[SP_GetUserByUserName]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetUserById]    Script Date: 5/13/2026 3:46:43 PM ******/
DROP PROCEDURE [dbo].[SP_GetUserById]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetRefreshTokenByUserID]    Script Date: 5/13/2026 3:46:43 PM ******/
DROP PROCEDURE [dbo].[SP_GetRefreshTokenByUserID]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetPersonById]    Script Date: 5/13/2026 3:46:43 PM ******/
DROP PROCEDURE [dbo].[SP_GetPersonById]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetPeople]    Script Date: 5/13/2026 3:46:43 PM ******/
DROP PROCEDURE [dbo].[SP_GetPeople]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllUsers]    Script Date: 5/13/2026 3:46:43 PM ******/
DROP PROCEDURE [dbo].[SP_GetAllUsers]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllStudents]    Script Date: 5/13/2026 3:46:43 PM ******/
DROP PROCEDURE [dbo].[SP_GetAllStudents]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllAdmins]    Script Date: 5/13/2026 3:46:43 PM ******/
DROP PROCEDURE [dbo].[SP_GetAllAdmins]
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteRefreshToken]    Script Date: 5/13/2026 3:46:43 PM ******/
DROP PROCEDURE [dbo].[SP_DeleteRefreshToken]
GO
/****** Object:  StoredProcedure [dbo].[SP_DeletePerson]    Script Date: 5/13/2026 3:46:43 PM ******/
DROP PROCEDURE [dbo].[SP_DeletePerson]
GO
/****** Object:  StoredProcedure [dbo].[SP_AddRefreshToken]    Script Date: 5/13/2026 3:46:43 PM ******/
DROP PROCEDURE [dbo].[SP_AddRefreshToken]
GO
/****** Object:  StoredProcedure [dbo].[SP_AddPerson]    Script Date: 5/13/2026 3:46:43 PM ******/
DROP PROCEDURE [dbo].[SP_AddPerson]
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewUser]    Script Date: 5/13/2026 3:46:43 PM ******/
DROP PROCEDURE [dbo].[SP_AddNewUser]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [FK_Users_Students]
GO
ALTER TABLE [dbo].[UserRefreshToken] DROP CONSTRAINT [FK_UserRefreshToken_Users]
GO
ALTER TABLE [dbo].[People] DROP CONSTRAINT [DF__People__IsActi__38996AB5]
GO
/****** Object:  Index [UQ__Students__A9D105347A01A5DA]    Script Date: 5/13/2026 3:46:43 PM ******/
ALTER TABLE [dbo].[People] DROP CONSTRAINT [UQ__Students__A9D105347A01A5DA]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/13/2026 3:46:43 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Users]') AND type in (N'U'))
DROP TABLE [dbo].[Users]
GO
/****** Object:  Table [dbo].[UserRefreshToken]    Script Date: 5/13/2026 3:46:43 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserRefreshToken]') AND type in (N'U'))
DROP TABLE [dbo].[UserRefreshToken]
GO
/****** Object:  Table [dbo].[People]    Script Date: 5/13/2026 3:46:43 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[People]') AND type in (N'U'))
DROP TABLE [dbo].[People]
GO
USE [master]
GO
/****** Object:  Database [StudentManagementDB]    Script Date: 5/13/2026 3:46:43 PM ******/
DROP DATABASE [StudentManagementDB]
GO
/****** Object:  Database [StudentManagementDB]    Script Date: 5/13/2026 3:46:43 PM ******/
CREATE DATABASE [StudentManagementDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StudentManagementDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\StudentManagementDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'StudentManagementDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\StudentManagementDB_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StudentManagementDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StudentManagementDB]
GO
/****** Object:  Table [dbo].[People]    Script Date: 5/13/2026 3:46:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[People](
	[PersonID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[BirthDate] [date] NULL,
	[IsActive] [bit] NOT NULL,
	[Age]  AS (datediff(year,[BirthDate],getdate())-case when datepart(month,[BirthDate])>datepart(month,getdate()) OR datepart(month,[BirthDate])=datepart(month,getdate()) AND datepart(day,[BirthDate])>datepart(day,getdate()) then (1) else (0) end),
 CONSTRAINT [PK__Students__4D11D63C2C56A8D7] PRIMARY KEY CLUSTERED 
(
	[PersonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRefreshToken]    Script Date: 5/13/2026 3:46:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRefreshToken](
	[RefreshTokenID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[RefreshTokenHash] [nvarchar](60) NOT NULL,
	[RefreshTokenExpiresAt] [datetime] NOT NULL,
	[RefreshTokenRevokedAt] [datetime] NULL,
 CONSTRAINT [PK_UserRefreshToken] PRIMARY KEY CLUSTERED 
(
	[RefreshTokenID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/13/2026 3:46:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[PersonID] [int] NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](60) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[People] ON 

INSERT [dbo].[People] ([PersonID], [FirstName], [LastName], [Email], [BirthDate], [IsActive]) VALUES (1, N'Belal', N'Yehia', N'Belal@gmail.com', CAST(N'2001-05-02' AS Date), 1)
INSERT [dbo].[People] ([PersonID], [FirstName], [LastName], [Email], [BirthDate], [IsActive]) VALUES (2, N'Ali', N'Mahmoud', N'ali@example.com', CAST(N'2000-05-14' AS Date), 1)
INSERT [dbo].[People] ([PersonID], [FirstName], [LastName], [Email], [BirthDate], [IsActive]) VALUES (3, N'Abdo', N'Boda', N'Boda@gamil.com', CAST(N'1995-11-10' AS Date), 1)
SET IDENTITY_INSERT [dbo].[People] OFF
GO
SET IDENTITY_INSERT [dbo].[UserRefreshToken] ON 

INSERT [dbo].[UserRefreshToken] ([RefreshTokenID], [UserID], [RefreshTokenHash], [RefreshTokenExpiresAt], [RefreshTokenRevokedAt]) VALUES (1, 1, N'$2a$11$SfYU6/kAIW2XOBZKNnrnS.Alvai8mzMb2CR2AxNSpC2k/Qe77GbL6', CAST(N'2026-05-20T12:03:38.073' AS DateTime), NULL)
INSERT [dbo].[UserRefreshToken] ([RefreshTokenID], [UserID], [RefreshTokenHash], [RefreshTokenExpiresAt], [RefreshTokenRevokedAt]) VALUES (2, 2, N'$2a$11$VICRxGllP2FN2IZW3ErR8ujggO3eHGLk/tJngqMVgNCBqwSMidEWO', CAST(N'2026-05-20T11:00:03.293' AS DateTime), NULL)
INSERT [dbo].[UserRefreshToken] ([RefreshTokenID], [UserID], [RefreshTokenHash], [RefreshTokenExpiresAt], [RefreshTokenRevokedAt]) VALUES (3, 3, N'$2a$11$R8fr6qBz6Hui4NLveOvkOOz5I0QhdiKVCOIctZafA4GWp3V9WuGFe', CAST(N'2026-05-20T11:00:30.233' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[UserRefreshToken] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [PersonID], [UserName], [PasswordHash], [Role]) VALUES (1, 1, N'Belal', N'$2a$11$MrLv5n92Jvp6zA4WS986T.o8ozYEdMbA7MQmyqQYiC5QQuE.v0HY2', N'Admin')
INSERT [dbo].[Users] ([UserID], [PersonID], [UserName], [PasswordHash], [Role]) VALUES (2, 2, N'Ali', N'$2a$11$tQ2PWnH5OtUhJdHMCgrcEerDbqD9zjG2duLu9AgCz7aExaeNdH8Pm', N'Student')
INSERT [dbo].[Users] ([UserID], [PersonID], [UserName], [PasswordHash], [Role]) VALUES (3, 3, N'Abdo', N'$2a$11$g8s6ZgwoveUwwjeBcSpBM..a2shGwJ10yT.6FEjd1g/CyzeKM.lA2', N'Student')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Students__A9D105347A01A5DA]    Script Date: 5/13/2026 3:46:43 PM ******/
ALTER TABLE [dbo].[People] ADD  CONSTRAINT [UQ__Students__A9D105347A01A5DA] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[People] ADD  CONSTRAINT [DF__People__IsActi__38996AB5]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[UserRefreshToken]  WITH CHECK ADD  CONSTRAINT [FK_UserRefreshToken_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[UserRefreshToken] CHECK CONSTRAINT [FK_UserRefreshToken_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Students] FOREIGN KEY([PersonID])
REFERENCES [dbo].[People] ([PersonID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Students]
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewUser]    Script Date: 5/13/2026 3:46:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[SP_AddNewUser]
    @PersonID INT,
    @UserName NVARCHAR(50),
    @PasswordHash NVARCHAR(60),
    @Role NVARCHAR(50),
	@NewUserId INT OUTPUT
AS
BEGIN
    INSERT INTO Users (PersonID, UserName, PasswordHash, Role)
    VALUES (@PersonID, @UserName, @PasswordHash, @Role);

   SET @NewUserId = SCOPE_IDENTITY(); 
END
GO
/****** Object:  StoredProcedure [dbo].[SP_AddPerson]    Script Date: 5/13/2026 3:46:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_AddPerson]
@FirstName Nvarchar(50),
@LastName Nvarchar(50),
@Email Nvarchar(100),
@BirthDate DATE,
@NewPersonId INT OUTPUT
AS
Begin
	Insert into People (FirstName,LastName,Email,BirthDate)
	Values (@FirstName,@LastName,@Email,@BirthDate);
	 SET @NewPersonId = SCOPE_IDENTITY();
End
GO
/****** Object:  StoredProcedure [dbo].[SP_AddRefreshToken]    Script Date: 5/13/2026 3:46:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[SP_AddRefreshToken]

    @UserID INT,
    @RefreshTokenHash NVARCHAR(200),
    @RefreshTokenExpiresAt DATETIME,
	@NewRefreshTokenId INT OUTPUT

AS
BEGIN

    INSERT INTO UserRefreshToken
    (
        UserID,
        RefreshTokenHash,
        RefreshTokenExpiresAt,
		RefreshTokenRevokedAt
    )

    VALUES
    (
        @UserID,
        @RefreshTokenHash,
        @RefreshTokenExpiresAt,
		NULL
    )

	SET @NewRefreshTokenId = SCOPE_IDENTITY(); 

END
GO
/****** Object:  StoredProcedure [dbo].[SP_DeletePerson]    Script Date: 5/13/2026 3:46:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[SP_DeletePerson]
    @PersonId INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @RowsAffected INT;

    DELETE FROM People
    WHERE PersonId = @PersonId;

    SET @RowsAffected = @@ROWCOUNT;

    SELECT @RowsAffected AS RowsAffected;

END;
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteRefreshToken]    Script Date: 5/13/2026 3:46:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DeleteRefreshToken]

    @UserID INT

AS
BEGIN

    DELETE FROM UserRefreshToken

    WHERE UserID = @UserID

END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllAdmins]    Script Date: 5/13/2026 3:46:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_GetAllAdmins]
AS
Begin
	 SELECT        Users.UserID, Users.Role, (People.FirstName + ' ' + People.LastName) AS FullName, People.Email, People.BirthDate, People.Age, People.IsActive
FROM            People INNER JOIN
                         Users ON People.PersonID = Users.PersonID
						 where Role = 'Admin'
End;
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllStudents]    Script Date: 5/13/2026 3:46:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_GetAllStudents]
AS
Begin
	 SELECT        Users.UserID, Users.Role, (People.FirstName + ' ' + People.LastName) AS FullName, People.Email, People.BirthDate, People.Age, People.IsActive
FROM            People INNER JOIN
                         Users ON People.PersonID = Users.PersonID
						 where Role = 'Student'
End;
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllUsers]    Script Date: 5/13/2026 3:46:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_GetAllUsers]
AS
Begin
	SELECT        Users.UserID,Users.PersonID, (People.FirstName +' '+ People.LastName )AS FullName, People.Email, Users.UserName, Users.PasswordHash, Users.Role ,People.IsActive
FROM            People INNER JOIN
                         Users ON People.PersonID = Users.PersonID
End;
GO
/****** Object:  StoredProcedure [dbo].[SP_GetPeople]    Script Date: 5/13/2026 3:46:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_GetPeople]
AS
Begin
	 SELECT PersonID, FirstName, LastName, Email, BirthDate, IsActive, Age
     FROM    People
End;
GO
/****** Object:  StoredProcedure [dbo].[SP_GetPersonById]    Script Date: 5/13/2026 3:46:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create Procedure [dbo].[SP_GetPersonById]
	@PersonId int
As
Begin
	Select PersonId,FirstName,LastName,Email,BirthDate,Age,IsActive
	from People
	where PersonId = @PersonId;
End
GO
/****** Object:  StoredProcedure [dbo].[SP_GetRefreshTokenByUserID]    Script Date: 5/13/2026 3:46:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetRefreshTokenByUserID]

    @UserID INT

AS
BEGIN

    SELECT *

    FROM UserRefreshToken

    WHERE UserID = @UserID

END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetUserById]    Script Date: 5/13/2026 3:46:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_GetUserById]
	@UserId int
As
Begin
	SELECT        Users.UserID,Users.PersonID, (People.FirstName +' '+ People.LastName )AS FullName, People.Email, Users.UserName, Users.PasswordHash, Users.Role ,People.IsActive
FROM            People INNER JOIN
                         Users ON People.PersonID = Users.PersonID
						 where UserID = @UserId
End
GO
/****** Object:  StoredProcedure [dbo].[SP_GetUserByUserName]    Script Date: 5/13/2026 3:46:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_GetUserByUserName]
	@UserName NVARCHAR(20)
As
Begin
	SELECT        Users.UserID,Users.PersonID, (People.FirstName +' '+ People.LastName )AS FullName, People.Email, Users.UserName, Users.PasswordHash, Users.Role ,People.IsActive
FROM            People INNER JOIN
                         Users ON People.PersonID = Users.PersonID
						 where @UserName = Users.UserName
End
GO
/****** Object:  StoredProcedure [dbo].[SP_IsPersonExist]    Script Date: 5/13/2026 3:46:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_IsPersonExist]
    @PersonID INT
AS
BEGIN
    IF EXISTS (SELECT 1 FROM People WHERE PersonID = @PersonID)
        SELECT 1;
    ELSE
        SELECT 0;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_IsUserExistByPersonID]    Script Date: 5/13/2026 3:46:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_IsUserExistByPersonID]
    @PersonID INT
AS
BEGIN
    IF EXISTS (SELECT 1 FROM Users WHERE PersonID = @PersonID)
        SELECT 1;
    ELSE
        SELECT 0;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdatePerson]    Script Date: 5/13/2026 3:46:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_UpdatePerson]
@PersonId int ,
@FirstName Nvarchar(50),
@LastName Nvarchar(50),
@Email Nvarchar (100),
@BirthDate Date ,
@IsActive Bit
AS
Begin
	Update People
	Set FirstName = @FirstName,
	LastName = @LastName,
	Email = @Email,
	BirthDate = @BirthDate,
	IsActive = @IsActive
	where PersonId = @PersonId
End
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateRefreshToken]    Script Date: 5/13/2026 3:46:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[SP_UpdateRefreshToken]

    @UserID INT,
    @RefreshTokenHash NVARCHAR(200),
    @RefreshTokenExpiresAt DATETIME,
	@RefreshTokenRevokedAt DATETIME

AS
BEGIN

    UPDATE UserRefreshToken

    SET

        RefreshTokenHash = @RefreshTokenHash,

        RefreshTokenExpiresAt = @RefreshTokenExpiresAt,

        RefreshTokenRevokedAt = @RefreshTokenRevokedAt

    WHERE UserID = @UserID

END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateUserName]    Script Date: 5/13/2026 3:46:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UpdateUserName]
    @UserID INT,
    @NewUserName NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Users
    SET UserName = @NewUserName
    WHERE UserID = @UserID;

    SELECT @@ROWCOUNT AS AffectedRows;
END

GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateUserPassword]    Script Date: 5/13/2026 3:46:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[SP_UpdateUserPassword]
    @UserID INT,
    @NewPasswordHash NVARCHAR(60) -- طول 60 حرفاً ليتناسب مع BCrypt
AS
BEGIN
   
    UPDATE Users
    SET PasswordHash = @NewPasswordHash
    WHERE UserID = @UserID;

    
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateUserRole]    Script Date: 5/13/2026 3:46:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SP_UpdateUserRole]
@UserID INT,
@NewRole NVARCHAR(20)AS
Begin
	UPDATE Users
    SET Role = @NewRole
    WHERE UserID = @UserID;
End
GO
USE [master]
GO
