USE [StudentManagementDB]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 12/9/2025 4:58:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[studentId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[BirthDate] [date] NULL,
	[IsActive] [bit] NULL,
	[Age] [int] NULL,
 CONSTRAINT [PK__Students__4D11D63C2C56A8D7] PRIMARY KEY CLUSTERED 
(
	[studentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Students] ON 

INSERT [dbo].[Students] ([studentId], [FirstName], [LastName], [Email], [BirthDate], [IsActive], [Age]) VALUES (1, N'Belal', N'bb', N'Belal@gmail.com', CAST(N'2001-05-02' AS Date), 1, 24)
INSERT [dbo].[Students] ([studentId], [FirstName], [LastName], [Email], [BirthDate], [IsActive], [Age]) VALUES (2, N'Ali', N'Mahmoud', N'ali@example.com', CAST(N'2000-05-14' AS Date), 1, 25)
INSERT [dbo].[Students] ([studentId], [FirstName], [LastName], [Email], [BirthDate], [IsActive], [Age]) VALUES (3, N'Abdo', N'Boda', N'Boda@gamil.com', CAST(N'1995-11-10' AS Date), 1, 30)
SET IDENTITY_INSERT [dbo].[Students] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Students__A9D105347A01A5DA]    Script Date: 12/9/2025 4:58:57 AM ******/
ALTER TABLE [dbo].[Students] ADD  CONSTRAINT [UQ__Students__A9D105347A01A5DA] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Students] ADD  CONSTRAINT [DF__Students__IsActi__38996AB5]  DEFAULT ((1)) FOR [IsActive]
GO
/****** Object:  StoredProcedure [dbo].[SP_AddStudent]    Script Date: 12/9/2025 4:58:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_AddStudent]
@FirstName Nvarchar(50),
@LastName Nvarchar(50),
@Email Nvarchar(100),
@BirthDate DATE,
@NewStudentId INT OUTPUT
AS
Begin
	Insert into Students (FirstName,LastName,Email,BirthDate)
	Values (@FirstName,@LastName,@Email,@BirthDate);
	 SET @NewStudentId = SCOPE_IDENTITY();
End
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteStudent]    Script Date: 12/9/2025 4:58:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DeleteStudent]
    @StudentId INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @RowsAffected INT;

    DELETE FROM Students
    WHERE StudentId = @StudentId;

    SET @RowsAffected = @@ROWCOUNT;

    SELECT @RowsAffected AS RowsAffected;

END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllStudents]    Script Date: 12/9/2025 4:58:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_GetAllStudents]
AS
Begin
	 SELECT StudentId, FirstName, LastName, Email, BirthDate,Age, IsActive
	 from Students
End;
GO
/****** Object:  StoredProcedure [dbo].[SP_GetStudentById]    Script Date: 12/9/2025 4:58:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_GetStudentById]
	@StudentId int
As
Begin
	Select studentId,FirstName,LastName,Email,BirthDate,Age,IsActive
	from Students
	where studentId = @StudentId;
End
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateStudent]    Script Date: 12/9/2025 4:58:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_UpdateStudent]
@StudentId int ,
@FirstName Nvarchar(50),
@LastName Nvarchar(50),
@Email Nvarchar (100),
@BirthDate Date ,
@IsActive Bit
AS
Begin
	Update Students
	Set FirstName = @FirstName,
	LastName = @LastName,
	Email = @Email,
	BirthDate = @BirthDate,
	IsActive = @IsActive
	where studentId = @StudentId
End
GO
